/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Feb 2017, 5:49:12 PM
    Author     : Tom
*/

body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
    font-family: 'Courier';
    font-family: 'Fascinate Inline', cursive;
    font-family: 'Audiowide', cursive;
    font-family: 'Roboto Slab', serif;

}

/*.page-header {*/
/*background: #6ba1c4;*/
/*}*/
/*
footer {
    background-color: #252525;
    color: #b6b6b6;
}

#footerRights {
    background-color: #252525;
    color: #b6b6b6;
}

#mainheader {
    background-color: #252525;
    color: #b6b6b6;
}*/


